name: Launch Jekyll site from repository wiki

on:
  gollum

jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: clone repo
        uses: actions/checkout@v3
      - name: clone wiki
        uses: actions/checkout@v3
        with:
          repository: '${{ github.repository }}.wiki'
          clean: false
          path: _site/wiki
      - name: publish
        uses: limjh16/jekyll-action-ts@v2
        with:
          enable_cache: true
          jekyll_src: _site
      - name: setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site


